<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmi.barcodetextscanhelper">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode, ocr" />


        <activity
            android:name=".barcode.BarcodeActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ocr.OCRActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ocr.OcrCaptureActivity"
            android:label="Read Text"
            android:screenOrientation="landscape" />

        <activity
            android:name=".barcode.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:screenOrientation="landscape" />
    </application>
</manifest>